# API endpoint (unlikely but it may change)
# API_ENDPOINT=""
# City, defaults to "ბათუმი" (Batumi)
# See API endpoint or website for available city names in Georgian
# CITY=""

FIRESTORE_COLLECTION_ID="processed_tasks"
FIRESTORE_DATABASE_ID=""

GEMINI_API_KEY=""
# defaults to gemini-2.5-flash
# GEMINI_MODEL=""

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
