# API endpoint (unlikely but it may change)
API_ENDPOINT: "https://my.energo-pro.ge/owback/searchAlerts"
# Batumi (see API endpoint or website for city names)
CITY: "ბათუმი"
FIRESTORE_COLLECTION_ID: "processed_tasks"
FIRESTORE_DATABASE_ID: ""
GEMINI_API_KEY: ""
TELEGRAM_BOT_TOKEN: ""
TELEGRAM_CHAT_ID: ""